body {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  background-color: rgba(247, 244, 244, 0.993);
  font-size: 17px;
}

@mixin flex {
  display: flex;
}

.main-container {
  @include flex;
  flex-direction: column;
  height: 100%;
  background: white;
  padding: 20px 50px;
  .container {
    @include flex;

    .book-container {
      @include flex;
      align-items: center;

      img {
        width: 300px;
        height: 450px;
      }
    }
  }
}
