.cart {
  background: #fff;
  padding: 5px 25px;

  table {
    border-collapse: collapse;
    // width: 100%;
    width: 800px;
    .headers {
      display: table-row;
      border-bottom: 1px solid #e1e1e3;

      .cart-item-description-header {
        text-align: inherit;
      }
    }

    .align-top {
      vertical-align: top;

      img {
        width: 150px;
      }
    }

    .cart-list-item__name {
      padding-left: 20px;
      width: 480px;
      // width: 62%;
    }

    .cart-total {
      font-size: 22px;
      .text-right {
        text-align: right;
        width: 100%;
      }

      .sum {
        margin-left: 5px;
      }
    }

    .quantity {
      padding: 20px 10px;
      display: flex;
    }

    .price {
      padding: 20px 10px;
    }

    svg {
      width: 16px;
      height: 16px;
      padding: 20px 10px;
    }
  }

  .buttons-container {
    padding: 10px;
    display: flex;
    justify-content: flex-end;

    button {
      border-radius: 35px;
      cursor: pointer;
      background-color: #f59999;
      text-decoration: none;
      color: #000;
      margin-left: 15px;
      font-size: 15px;
      height: 50px;
      width: 130px;

      &:last-of-type {
        width: 80px;
    }
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}
